<div class="container">
  <nav class="navbar navbar-light bg-light my-2" [ngClass]="{'d-none': isMobile && isLoginPage,'navbar-expand-lg': !isLoginPage}">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/assets/img/LOGO.png" alt="Logo" width="86">
      </a>
      <button [disabled]="isLoginPage" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="!isLoginPage">
          <li class="nav-item">
            <a class="nav-link" href="#">Categorías</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ofertas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tiendas oficiales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Vender</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Marcas</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Registra tu auto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Ingresar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</div>
