div, nav, a, img, form, button, ul, li {
  //border: solid 1px #000000;
}
.icon-navbar {
  font-size: 1.2rem;
  color: #000000;
  fill-opacity: 60%;
  margin: 0.4rem;
}

.btn-cp {
  font-size: 12px;
  font-weight: normal;
  border: 1px solid #000000;
}
.navMobile {
  .inp-search {
    max-width: 230px;
  }
}
.navWeb {
  .inp-search {
    max-width: 590px;
  }
}

.collapse-mobile {
  .card {
    background-color: #D8FF00;
    border: none;
    .nav-item a{
      color: #000000;
    }
  }
}

.row-navbar{
//  Aqui personalizar la segunda row del nav
}

