<!-- Carrusel -->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row row-cols-3 row-cols-md-3 g-4">
        <div class="col">
          <article>
            <img src="assets/img/Llanta.png" class="img-fluid" alt="">
            <div class="header-c">
              <h6 class="card-title">Nombre</h6>
              <a class="card-text">Ver todo</a>
            </div>
          </article>
        </div>
        <div class="col">
          <article>
            <img src="assets/img/Llanta.png" class="img-fluid" alt="">
            <div class="header-c">
              <h6 class="card-title">Nombre</h6>
              <a class="card-text">Ver todo</a>
            </div>
          </article>
        </div>
        <div class="col">
          <article>
            <img src="assets/img/Llanta.png" class="img-fluid" alt="">
            <div class="header-c">
              <h6 class="card-title">Nombre</h6>
              <a class="card-text">Ver todo</a>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row row-cols-3 row-cols-md-3 g-4">
        <div class="col">
          <article>
            <img src="assets/img/Llanta.png" class="img-fluid" alt="">
            <div class="header-c">
              <h6 class="card-title">Nombre</h6>
              <a class="card-text">Ver todo</a>
            </div>
          </article>
        </div>
        <div class="col">
          <article>
            <img src="assets/img/Llanta.png" class="img-fluid" alt="">
            <div class="header-c">
              <h6 class="card-title">Nombre</h6>
              <a class="card-text">Ver todo</a>
            </div>
          </article>
        </div>
        <div class="col">
          <article>
            <img src="assets/img/Llanta.png" class="img-fluid" alt="">
            <div class="header-c">
              <h6 class="card-title">Nombre</h6>
              <a class="card-text">Ver todo</a>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
