.container-form-login{
  max-width: 510px;
}
//btn iniciar sesion
.custom-btn-log{
  font-size: 1.3rem;
  padding-top: 12px;
  padding-bottom: 12px;
}

.login-container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.login-title {
  font-size: 1.75rem;
}

.back-button {
  margin-right: 10px;
}

.toggle-password {
  cursor: pointer;
}
.text-fill{
  font-size: 0.8rem;
  color: #000000;
  fill: #cccccc;
}
.forgot-password {
  text-decoration: none;
}
.forgot-password:hover {
  text-decoration: underline;
}
.btn-show-pssw{
  border-right: 1px solid rgb(206, 212, 218);
  border-top: 1px solid rgb(206, 212, 218);
  border-bottom: 1px solid rgb(206, 212, 218);

  border-bottom-right-radius: 8px !important;
  border-top-right-radius: 8px !important;
}
.social-media{
  .social-button {
    //width: 100px;
    height: 47px;
    font-size: 25px;
  }
  .facebook {
    background-color:#1877F2;
    color: #ffffff;
  }
  .apple{
    background-color: #000000;
    color: #ffffff;
  }
  .google{
    border: 1px solid #cccccc;
    background-color: #ffffff;
    color: #000000;
  }
}
.custom-dark-btn {
  font-size: 0.875rem;
  font-weight: bold;
  letter-spacing: 1px;
}
@media (max-width: 390px) {
  .login-title {
    font-size: 1.5rem;
  }
}
@media (max-width: 1200px) {
  .social-button {
    width: 100px;
  }
}
@media (min-width: 1201px) {
  .social-button {
    width: 150px;
  }
}

@media (max-width: 992px) {
  .mb-80px{
    margin-bottom: 80px;
  }
  .mb-32px {
    margin-bottom: 32px;
  }
  .mb-76px {
    margin-bottom: 76px;
  }
}

@media (max-width: 1440px) {
  .mt-109px{
    margin-top: 109px;
  }
  .mb-32px {
    margin-bottom: 32px;
  }
}
