<div class="container h-100 d-flex align-items-center justify-content-center">
  <div class="row w-100">
    <div class="col-12 col-lg-6 d-none d-lg-flex align-items-center justify-content-center">
      <img src="/assets/img/loing-img-1.png" class="img-fluid" alt="...">
    </div>
    <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center">
      <div class="container-fluid container-form-login">
        <section class="mt-5 mt-lg-0 mb-lg-4 mb-80px text-sm-center text-lg-start">
          <h2 class="login-title">
            <button type="button" class="btn btn-light d-lg-none">
              <fa-icon style="font-size:20px;" [icon]="faArrowLeft"></fa-icon>
            </button>
            Inicia sesión
          </h2>
        </section>
        <section class="mb-lg-4">
          <form [formGroup]="formLogin" (ngSubmit)="login()">
            <div class="mb-32px mb-lg-4 input-group-lg">
              <label for="inputUser" class="form-label">Email o nombre de usuario</label>
              <input
                type="text"
                class="form-control"
                placeholder="Email o nombre de usuario"
                id="inputUser"
                formControlName="user"
                [ngClass]="{ 'is-invalid': fl['user'].errors && submited }"
                aria-describedby="userHelp">
              <div class="invalid-feedback">
                El email o nombre de usuario es obligatorio.
              </div>
            </div>
            <div class="mb-4 input-group-lg">
              <label for="inputPassword" class="form-label">Contraseña</label>
              <div class="input-group">
                <input
                  [type]="showPassw ? 'text' : 'password'"
                  class="form-control form-control-lg"
                  formControlName="pssw"
                  id="inputPassword"
                  placeholder="Contraseña"
                  [ngClass]="{ 'is-invalid': fl['pssw'].errors && submited }"
                  aria-describedby="psswEye">
                <button class="btn btn-show-pssw" type="button" (click)="changeShowPssw()">
                  <fa-icon [icon]="showPassw ? faEye : faEyeSlash"></fa-icon>
                </button>
                <div class="invalid-feedback">
                  La contrase&ntilde;a es obligatoria.
                </div>
              </div>
            </div>
            <div class="form-check form-switch custom-switch-color mb-32px mb-lg-4">
              <input class="form-check-input" type="checkbox" formControlName="remember" id="checkRecuerdame">
              <label class="form-check-label" for="checkRecuerdame">Recuérdame</label>
            </div>
            <button type="submit" class="btn btn-yellow custom-btn-log w-100">INICIAR SESIÓN</button>
            <div class="mt-2 mb-76px mb-lg-5">
              <a href="#" class="forgot-password text-fill">¿Olvidaste tu contraseña?</a>
            </div>
            <div class="text-fill mb-32px mb-lg-4">
              <p>¿No tienes una cuenta?
                <button type="button" class="ms-3 btn btn-dark custom-dark-btn">REGISTRARSE</button>
              </p>
            </div>
            <div class="mt-3 social-media">
              <p>Inicia sesión con tus redes sociales</p>
              <div class="d-flex justify-content-between">
                <button type="button" class="btn btn-outline-secondary social-button google">
                  <fa-icon [icon]="faGoogle"></fa-icon>
                </button>
                <button type="button" class="btn btn-outline-secondary social-button facebook">
                  <fa-icon [icon]="faFacebook"></fa-icon>
                </button>
                <button type="button" class="btn btn-outline-secondary social-button apple">
                  <fa-icon [icon]="faApple"></fa-icon>
                </button>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>
